<html>
<head>
    <title>Welcome to MyProject</title>
</head>
<body>
<input id="private_key" type="hidden" value="{{ private_key }}"/>
<input id="public_key" type="hidden" value="{{ public_key }}"/>
<input id="message" type="text" value="{{ message }}"/>
<input id="send" type="button" value="Send"/>
<div id="app">
    <h1>This is Product page</h1>
</div>
</body>

</html>
<script src="jquery.js"></script>
<script src="jsencrypt.js"></script>
<script type="application/javascript">
    $('#send').click(function() {
        var encrypt = new JSEncrypt()
        encrypt.setPublicKey($('#public_key').val())
        var message = btoa($('#message').val())

        var encrypted = encrypt.encrypt(message)
        alert(encrypted)
        var decrypt = new JSEncrypt()
        decrypt.setPrivateKey($('#private_key').val())
        var message1 = decrypt.decrypt(encrypted)
        alert(atob(message1))

        $.ajax({
            type: "POST",
            url: "http://myproject.test/test/ajax",
            dataType: "json",
            data: { message: encrypted },
            success: function (response) {
                console.log(response.message)
            }
        });

    })
</script>