{% extends '@MyProject/layout.html.twig' %}
{% block title %}Product List{% endblock %}
{% block content %}
    <div id="app">
        <product-component></product-component>
    </div>
{% endblock %}
